<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Tus encabezados y metadatos aquí -->
    <title>Carrito de Compras</title>
</head>
<body>
    <br><br><br><br><br><br>
    <h1>Carrito de Compras</h1>

    {% if 'cart' in session %}
        <ul>
            {% for item in session['cart'] %}
                <li>{{ item.name }} - {{ item.price }}
                    <a href="{{ url_for('remove_from_cart', product_id=item.id) }}" class="btn btn-danger">Eliminar del carrito</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>El carrito está vacío</p>
    {% endif %}

    <a href="{{ url_for('catalogo') }}">Volver al catálogo</a>
</body>
</html>

