<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    
    <ul>
        {% for item in session['cart'] %}
            <li>{{ item['name'] }} - {{ item['price'] }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('catalog') }}">Volver al catálogo</a>
</body>
</html>

<!-- https://roytuts.com/simple-shopping-cart-using-python-flask-mysql/ -->
