
<style>
  body {
    background-color: #f8f9fa; /* Un color de fondo claro para resaltar las tarjetas */
  }

  .card {
    background-color: #BD0D0D; /* Color vino tinto para las tarjetas */
    color: #fff; /* Texto blanco para contrastar */
    margin-bottom: 20px;
  }

  .card-title {
    color: #fff; /* Color blanco para el título de la tarjeta */
  }
</style>
<br><br><br><br><br>
<h2>Productos Disponibles</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/imgs/carnes.webp') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CARNES: 25.000 </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/imgs/hawaiana.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">HAWAIANA: 30.000 </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/imgs/margarita.jpeg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Margarita: 25.000 </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Repite este patrón para cada conjunto de tres tarjetas -->
</div>
</body>
</html>






