
  <br><br>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-2">
      {% if(dataLogin.tipoLogin ==1) %}
        {% else %}
          <p class="text-center">¡Bienvenido <strong>{{ dataLogin.nombre }},</strong> esperamos que disfrutes nuestro servicio! </p>
      {% endif %}
    </div>

    <!--Tarjeta 1-->
    <div class="container">

      <!-- Encabezado con imagen de fondo -->
      <header class="jumbotron jumbotron-fluid text-center header-background">
          <div class="container">
              <div class="row">
                  <div class="col-md-11 mx-auto">
                      <div class="card">
                          <div class="card-body text-dark">
                              <br>
                              <h1 class="text-center">Bienvenidos a Pizzeria Merlin</h1>
                              <div class="card-body text-dark">
                                  <div class="row">
                                      <div class="col-md-9">
                                          <br><br><br>
                                          <p>Te ofrecemos lo mejor de la comida rápida y las pizzas más irresistibles. Nuestro ambiente te hará sentir como en casa mientras te entregamos sabor y calidad en cada bocado. ¡Te esperamos para que disfrutes de una experiencia única!</p>
                                      </div>
                                      <div class="col-md-3">
                                          <img src="{{ url_for('static', filename='assets/imgs/merlin.jpg') }}" alt="Mi Imagen" class="img-fluid">
                                      </div>
                                  </div>
                              </div>
                               
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </header>
      
      </div>

  </div>