<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy7rafl6H7uOMi7D98hO94CKIte3ZbYUpJ" crossorigin="anonymous">
    
</head>

<body id="fondo_inicio" style="background-image: url('{{ url_for('static', filename='assets/imgs/pz/fondo_adentro.jpg') }}');">

    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-12 mb-2">
            {% if(dataLogin.tipoLogin == 1) %}
            {% else %}
            <p class="text-center">¡Bienvenido <strong>{{ dataLogin.nombre }},</strong> esperamos que disfrutes nuestro servicio! </p>
            {% endif %}
        </div>
        
        <!--Tarjeta 1-->
        <div class="container">
            <!-- Encabezado con imagen de fondo -->
            <header class="jumbotron jumbotron-fluid text-center header-background" style="background-color: #BD0D0D">
                <div id="carouselExampleSlidesOnly" class="container carousel slide mx-auto" data-ride="carousel" style="text-align: center;">
                    <div class="carousel-inner">
                        
                        <div class="carousel-item active">
                            <img src="{{ url_for('static', filename='assets/imgs/carrusel/camarones.jpg') }}" class="d-block mx-auto" style="width: 400px; height: 300px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/imgs/comidas/en_exotica.jpg') }}" class="d-block mx-auto" style="width: 400px; height: 300px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/imgs/comidas/be_limonada.jpg') }}" class="d-block mx-auto" style="width: 400px; height: 300px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/imgs/carrusel/clasica.jpg') }}" class="d-block mx-auto" style="width: 400px; height: 300px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/imgs/comidas/ot_picada.jpg') }}" class="d-block mx-auto" style="width: 400px; height: 300px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/imgs/carrusel/cuatroesta.jpg') }}" class="d-block mx-auto" style="width: 400px; height: 300px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/imgs/comidas/be_brownihelado.jpg') }}" class="d-block mx-auto" style="width: 400px; height: 300px;" alt="...">
                        </div>

                    </div>
                </div>
                
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 mx-auto">
                            <div class="card">
                                <div class="card-body text-dark">
                                    <br>
                                    <h1 class="text-center">Bienvenidos a Pizzeria Merlin</h1>
                                    <div class="card-body text-dark">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <br><br><br>
                                                <p>Te ofrecemos lo mejor de la comida rápida y las pizzas más irresistibles. Nuestro ambiente te hará sentir como en casa mientras te entregamos sabor y calidad en cada bocado. ¡Te esperamos para que disfrutes de una experiencia única!</p>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="{{ url_for('static', filename='assets/imgs/merlin.jpg') }}" alt="Mi Imagen" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js" integrity="sha384-r/AxHPq33SW5VD+H6SFCRf0Gc2bWqj0haaJhGjs+So4a4/j3p0pO/puTRgixQ2Jx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy7rafl6H7uOMi7D98hO94CKIte3ZbYUpJ" crossorigin="anonymous"></script>

</body>
</html>
